netfwWCFSoapMVC/MVCClient/Connected Services/ServiceReference/WcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/netfwWCFwithMVC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/netfwWCFwithMVC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPatient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="tns:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatient" nillable="true" type="tns:ArrayOfPatient" />
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Allergies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Diagnostics" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientId" type="xs:int" />
      <xs:element minOccurs="0" name="SSID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
</xs:schema>